<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="~{layout/head :: head('Top Integrator')}" />

<body>
    <!-- Container -->
    <div th:replace="layout/container :: container(~{ :: .content})">
        <div class="content mx-4">

           <!-- Variaveis -->
           <input type="hidden" id="path" th:value="${path}">
           <input type="hidden" id="filter" th:value="${filter}">
            
           <!-- Area do titulo -->
		   <div th:replace="~{comp/title :: title(title='Configurações das Operações Fiscais')}"></div>
            
           <!-- Feedback Messages  -->
           <div th:replace="~{comp/feedback :: feedback}"></div>             
          
           <div class="container-fluid my-2">
           <!-- Contant Area -->
           
           		<!-- New Button -->
          	   <div class="row pb-2 mt-4 ps-2 pe-2">
                   <div class="col-md-10 pe-1 ps-1"></div>
                   <div class="col-md-2 pe-0 ps-0">
                     <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#edit-form" id="add_new_btn">Nova Configuração</button>
                   </div>
               </div>
             
               <!-- Grid -->  
               <table border="1" class="table mt-3 table-bordered table-striped table-responsive-md table-hover table-sm">
	        		<thead>
	        			<tr>
	        				<th class="text-center">CFOP</th>
	        				<th class="text-center">Código da Operação</th>
	        				<th>Descrição</th>
	        				<!-- <th class="text-center ps-1">Número Sequencial</th> -->
	        				<th class="text-center">Ações</th>
	        			</tr>
	        		</thead>
	        		<tbody>
						<tr th:each="operConfig : ${listOperacoesConfig}">
							<td class="text-center" th:text="${operConfig.cfop}"></td>	
							<td class="text-center" th:text="${operConfig.codOper}"></td>
							<td th:text="${operConfig.desOper}"></td>
							<!-- <td class="text-center" th:text="${operConfig.numSeqOper}"></td> -->
							<td class="text-center">
                                <a id="post_data" class="text-dark text-decoration-none" th:href="@{/admin/operacoes_config/find/{id}(id=${operConfig.cfop})}" data-bs-toggle="modal" data-bs-target="#edit-form" title="Alterar Registro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                                      <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
                                    </svg>
                                </a>   
                                <a class="text-dark text-decoration-none delete_data" th:href="@{/admin/operacoes_config/delete/{id}(id=${operConfig.cfop})}" data-bs-toggle="modal" data-bs-target="#confirmation" title="Excluir Registro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                            </td>
						</tr>        		
	        		</tbody>
	        	</table>
            
               <!-- Navegator -->
               <div th:replace="~{comp/navigator :: navigator}"></div>
               
               <!--  Modal Registration Form -->
               <div class="modal fade" id="edit-form" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title edit-form-title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        
                        <form class="payMethodForm needs-validation" novalidate>
                        
                            <div class="row pb-2 mt-3 ps-2 pe-2">
                            
                                <div class="form-floating col-md-6 pe-0 ps-0">
                                  <input type="text" class="form-control" id="cfop" required>
                                  <label for="cfop" class="form-label">CFOP</label>
                                </div>
                                
                                <div class="form-floating col-md-6 pe-1 ps-1">
                                  <input type="text" class="form-control" id="codOper">
                                  <label for="codOper" class="form-label">Código da Operação</label>
                                </div>
                                
                            </div>
                            
                            <div class="row pb-2 mt-2 ps-2 pe-2">
                            
                            	<div class="form-floating col-md-12 pe-1 ps-0">
                                  <input type="text" class="form-control" id="desOper">
                                  <label for="desOper" class="form-label">Descrição</label>
                                </div>
                                
                                <input type="hidden" class="form-control" id="numSeqOper">
                            
                            </div>
                            
                        </form>
                      </div>
                      
                      
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="dlg_confirm_update_btn">Corfirmar</button>			        
                      </div>
                    </div>
                  </div>
               </div>
               <!--  End Modal Registration Form --> 
                
           <!-- Contant Area - End -->    
           </div>
        </div>
    </div>
    
    <th:block th:include="layout/script :: script"></th:block>
</body>
<script>
$( document ).ready(function() {
	
	let path = "/" + $('#path').val();
	let href_delete;
	let isUpdate;
	
	$(".delete_data").click(function (event) {
		href_delete = event.currentTarget.href;
		let cfop = href_delete.split('/')[href_delete.split('/').length-1];
		
		$('.confirmation-body').html('<div class="text-center mt-4 mb-4">Você tem certeza que deseja excluir a configuração do <strong>CFOP</strong> '+cfop+' ? </div>');
		event.preventDefault();	 	
	});
	
	$("#dlg_confirm_btn").click(function (event) {
        jQuery.post(href_delete).done(function (data) {
        	if (data) {
        		feedback("O Registro foi excluido com sucesso!", 'success', proceed);
        	} else {
        		feedback("Ocorreu alguma falha no processamento, contate com o Administrador!", 'danger', proceed);
        	}
        });
        
    });	

	function proceed() {
    	window.location.assign(path);
    };
	
	$('#edit-form').on('shown.bs.modal', function (obj_link) {
		let href = obj_link.relatedTarget.href;
		isUpdate = obj_link.relatedTarget.id != "add_new_btn";
		
		if (isUpdate) {
			
			$('#cfop').prop( "disabled", true );
			
			$('.edit-form-title').html('Editar Configuração da Operação Fiscal');
			
    		$.get(href).done(function (data) {
    			$('#cfop').val(data.cfop);
    			$('#codOper').val(data.codOper);           
    			$('#desOper').val(data.desOper);
    			$('#numSeqOper').val(data.numSeqOper);   
    		});	
		} else {
			$('.edit-form-title').html('Nova Configuração para Operações Fiscais');
			$('#cfop').prop( "disabled", false );
			
			$('#cfop').val("");
			$('#codOper').val(""),           
			$('#desOper').val("")  
			$('#numSeqOper').val("");   
		}
		
	});
	
	$("#dlg_confirm_update_btn").click(function (event) {
		let href = path+"/save";
		
		let operacCfg = {
			cfop: $('#cfop').val(),             
			codOper: $('#codOper').val(),           
			desOper: $('#desOper').val(),
			numSeqOper: $('#numSeqOper').val()
		};
		
		if (fieldsValidate(operacCfg)) {
			$.post(href, operacCfg).done(function (data) {
	        	if (data && isUpdate) {
	        		feedback("O registro foi alterado com sucesso!", 'success', proceed);
	        	} else if (data && !isUpdate) {
	        		feedback("O novo registro foi criado com sucesso!", 'success', proceed);
	        	} else {
	        		feedback("Ocorreu um erro no processamento, tente mais tarde ou contate o suporte!", 'danger', proceed);
	        	}
	        	
	        });
		}
    });	
	
	function fieldsValidate(oc) {
		if (oc.cfop == "") {
			feedback("<div>O campo <strong>CFOP</strong> é obrigatório!</div>", 'warning', proceed);
			return false;
		} else if (oc.codOper == "") {
			feedback("<div>O campo <strong>Código da Operação</strong> é obrigatório!</div>", 'warning', proceed);
			return false;
		} else if (oc.desOper == "") {
			feedback("<div>O campo <strong>Descrição</strong> é obrigatório!</div>", 'warning', proceed);
			return false;
		} 
		return true;
	}
	
 }); 
</script>
</html>