<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org">

    <header th:fragment="header(corporarion)" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/"> <img src="../static/img/logo_top.png" height="22"
            alt=""
        ></img> [[${corporarion}]]
        </a>
    
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="w-100"></div>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/login?logout">Sair</a>
            </div>
        </div>
    </header>
</html>