<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
  <!-- Sidebar -->
  <nav th:fragment="sidebar" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse collapse-horizontal">
    
    <div class="flex-shrink-0 p-3 text-bg-light">
      <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"></a>
      <ul class="list-unstyled ps-0">
        <li class="border-top mt-2 mb-3"></li>
        <li class="mb-1">
          <button type="button" class="btn btn-toggle btn-link text-decoration-none align-items-center collapsed w-100" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            Tabelas
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="/exp/department" class="link-dark">Setor</a></li>
              <li><a href="/exp/productline" class="link-dark">Linha</a></li>
              <li><a href="/exp/brand" class="link-dark">Marca</a></li>
              <li><a href="/exp/cest" class="link-dark">Cest</a></li>
              <li><a href="/exp/ncm" class="link-dark">Ncm</a></li>
              <li><a href="/exp/barcode" class="link-dark">Barras</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle btn-link text-decoration-none align-items-center collapsed w-100" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
            Cadastros
          </button>
          <div class="collapse show" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="/exp/people#" class="link-dark">Pessoas</a></li>
              <li><a href="/exp/product" class="link-dark">Produtos</a></li>
            </ul>
          </div>
        </li>
        <li class="border-top mt-4 mb-3"></li>
        <li class="mb-1">
          <button class="btn btn-toggle btn-link text-decoration-none align-items-center collapsed w-100" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
            Documentos Fiscais
          </button>
          <div class="collapse show" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="/invoices/microvix" class="link-dark">Microvix</a></li>
            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
          <button class="btn btn-toggle btn-link text-decoration-none align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            Administrador
          </button>
          <div class="collapse show" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="" class="link-dark">Agendamentos</a></li>
              <li><a href="/admin/taskmanager" class="link-dark">Controle de Atividades</a></li>
              <li><a href="/admin/business_unit_config" class="link-dark">Configuração Unidades</a></li>
              <li><a href="/admin/payment_method_config" class="link-dark">Configuração Pagamentos</a></li>
              <li><a href="/admin/operacoes_config" class="link-dark">Configuração Operações</a></li>
              
              <li><a href="/login?logout" class="link-dark">Sair</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</html>