<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrador N&amp;L / Microvix</title>
    <meta name="author" content="Cristiano Rosa">
    <meta name="description" content="">

    <!-- Tailwind -->
	<!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> -->
	<script src="https://cdn.tailwindcss.com"></script>
	
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
        .logo {
		    margin: 0 auto;
		}
    </style>
</head>
<!-- <body class="bg-white body-font h-screen"> -->
<body class="bg-black body-font h-screen">

    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
            	<img class="logo" src="../static/img/logo.jpg" width="180">
                <p class="text-gray-200 text-center text-3xl hidden md:block">Bem Vindo.</p>
                <form th:action="@{/login}" method="post">
                    <div class="flex flex-col pt-4">
                        <label for="username" class="leading-7 text-lg text-gray-200">Usuário</label>
                        <input type="text" id="username" name="username" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"> 
                    </div>
    
                    <div class="flex flex-col pt-4">
                        <label for="password" class="leading-7 text-lg text-gray-200">Senha</label> 
                        <input type="password" id="password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
    				<div class="flex flex-col pt-7">
                    	<input type="submit" value="Entrar" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
					</div>

                </form>
                <div class="text-gray-200 text-center pt-12 pb-12">
                    <p>Não lembra sua senha? <a href="register.html" class="underline font-semibold">Clique aqui.</a></p>
                </div>
            </div>
        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="../static/img/loja_top_ponta_negra.jpg">    
        </div>
    </div>

</body>
</html>